@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

:root {
  font: 16px / 1 sans-serif;
}

html {
  height: 100%;
}

body {
  margin: 0;
  min-height: 100%;
  background-color: rgb(255, 180, 207);
}

header {
  font-family: 'Press Start 2P', cursive;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color: #141414;

  // text-shadow: 0 -1px 0 rgb(3, 3, 3), 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c,
  //   0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424,
  //   0 7px 0 #222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c,
  //   0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414,
  //   0 15px 0 #121212, 0 22px 30px;
  // color: #e0dfdc;
}

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

nav ul {
  display: flex;
  list-style: none;
  align-items: center;
}

a:link,
a:visited {
  color: rgb(36, 41, 46);
  text-decoration: none;
}
a:focus,
a:hover,
a:active {
  text-decoration: underline;
}

main {
  font-family: 'press start 2p', cursive;
  display: flex;
  justify-content: center;
  flex-direction: column;
  border: ridge #02070b;
  // border-radius: 25px 25px 25px 25px;
  box-sizing: border-box;

  // align-items: center;
  text-align: center;
  background-color: rgb(211, 224, 213);
  color: rgb(107, 147, 116);
  // border-radius: 1em;
  -webkit-box-shadow: -10px 0px 13px -7px #000000, 10px 0px 13px -7px #000000,
    5px 5px 15px 5px rgba(0, 0, 0, 0);
  box-shadow: -10px 0px 13px -7px rgb(15, 3, 7), 10px 0px 13px -7px rgb(5, 3, 3),
    5px 5px 15px 5px rgb(250, 103, 157);
  background-image: url(images/tamagotchi-pixel.webp);
  background-position: 0px;
  background-repeat: no-repeat;

  animation: animatedBackground 60s linear infinite;
}

main ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  // align-items: center;
  text-align: center;
}
@keyframes animatedBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}

form {
  padding: 1em;
}

form input {
  font-family: 'press start 2p', cursive;
  background-color: rgb(228, 237, 229);
  color: rgb(107, 147, 116);
  text-align: center;
}
footer h6 {
  display: flex;
  color: rgb(250, 103, 157);
}
